.dropdown-item
{
	white-space: normal;
}
.cargando{
	background: url('../img/cargando.gif') no-repeat right center;
}

@media print{
	
	#ticket{
		font-family: serif !important;
	}
	
	#carta{
		margin-top: auto !important;
		margin-bottom: auto !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	
}
#impresion{
 
	color: black !important;
	font-size: 24px !important;
}
#ticket{
	white-space: normal;
	line-height: normal;
	font-weight: normal;
	font-size: medium;
	font-style: normal;
	text-align: start;
	font-variant: normal;
	font-family: serif !important;
	max-width: 100mm;
	color: black !important;
	font-size: 24px !important;
}
.roles{ 
	font-stretch: ultra-condensed;
	font-family: "Arial Narrow";
	letter-spacing: 0px;
	color: black !important;
	font-size: 12px !important;
}
